@import '../helper/variable';

.library{
    width: 100%;
    max-width: 1680px;
    .nav-pills{
        
        .nav-item{
            .nav-link{
                background: none;
                color: $color-white;
                transition: all .3s ease-in-out;
                &:focus{
                    color: $color-primary;
                }
            }
        }
    }
}