@import "./../helper/mixin";
// HEADER
.brandhub-meta-nav {
  @include header-navbar();
}
//HEADER-NAVBAR
.navbar-collapse {
  @include header-navbar();
}
//CAROUSEL
.carousel-inner {
  .carousel-caption {
    top: 0;
  }
  h1 {
    font-size: 30px;
  }
  .brandhub-slider-labeling {
    padding-top: 150px;
  }
}
