@import '../helper/variable';

.library{
    width: 100%;
    max-width: 1680px;

    .button-show{
        width: 100%;
        display: flex;
        .btn{
            margin: auto;
            border: none;
            border-radius: 0;
            background: linear-gradient($bg-color-gray,#0b0b0b);
            color: $color-gray-1;
        }
    }
    
    .nav-pills{
        
        .nav-item{
            
            .nav-link{
                background: none;
                color: $color-white;
                transition: all .3s ease-in-out;
                &:focus{
                    color: $color-primary;
                    &::after{
                        content: "";
                        transition: all .3s ease-in-out;
                        margin-top: 5px;
                        display: block;
                        border: 1px solid $color-primary;
                    }
                }
                @include hoverStyle();

                span{
                    margin-right: 10px;
                    font-size: 15px;
                }
            }
        }
    }

    .library-items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 2px;
        grid-auto-flow: dense;


        @media screen and (max-width: 1280px){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .item{
            position: relative;
            cursor: pointer;
            &:hover{
                .panel{
                    height: 130px;
                    background: rgba(0,0,0,.7);
                    p{
                        transition: all .4s ease-in-out; // delay khi hover
                        display: block;
                    }
                }
               
            }
            img{
                width: 100%;
            }
            .panel{
                background: rgba(0,0,0,.35);
                position: absolute;
                z-index: 1;
                bottom: 0;
                width: 100%;
                height: 60px;
                padding-left: 30px;;
                transition: all .4s ease-in-out;
                p{
                    display: none;
                }
            }
        }
       
        .item_1{
          grid-column: 1 / span 2;
          grid-row: 1 / span 2;
        }
       
        .item_10{
            grid-column: 1 / span 2;
            grid-row: 5 / span 2;
          }

          .item_12{
            grid-column: 3 / span 1;
            img{
                height: 250px;
            }
          }

    }
}